#left {
    padding-right: inherit !important;
}

.swiper-container {
    width: 100%;
    padding-top: 10px;
}

.swiper-wrapper {
    width: auto;
    height: auto;
    font-size: 13px;
    padding-bottom: 10px;
}

.swiper-wrapper .detail {
    padding-left: 10px;
    /*width: auto;*/
}

.swiper-slide {
    width: 100%;
}

.store-name ul {
    list-style-type: none;
    margin: 0;
    padding: 7px 0;
    display: inline-block;
    width: auto;
}

.store-name ul li {
    float: left;
    cursor: pointer;
    padding: 3px 12px;
    margin: 0 10px 0 0;
    border: 1px solid #000000;
    font-size: 10px;
}

.pre-auction-block {
    /*display: none;*/
    width: auto;
    position: relative;
}

.active {
    display: block !important;
}

