@media only screen and (max-width: 460px) {
  #header-bar .pull-center {
    font-size: 24px !important;
    float: none;
    text-align: left !important;
  }
  #header-bar #global-lang-block {
    float: right !important;
  }
  #header-bar .pull-right {
    display: none;
  }
  #home-content {
    padding-top: 25px;
    font-size: 16px;
  }
  #home-content #left {
    position: relative;
    padding-right: 30px;
  }
  #home-content #left #head .stories-active {
    background-color: #000000;
    color: #FFFFFF;
  }
  #home-content #left #head li {
    padding: 8px 10px !important;
    color: #8c8c8c;
    cursor: pointer;
    font-size: 10px !important;
  }
  #home-content #left #head li:last-child {
    padding: 24px 0 0;
  }
  #home-content #left #block {
    position: relative;
    z-index: 1000;
    border-top: 1px solid #000000;
    padding-bottom: 25px;
  }
  #home-content #left #block #category-head {
    font-size: 14px;
  }
  #home-content #left #block #category-head span {
    font-weight: bold;
  }
  #home-content #left #block #stories-categories {
    background-color: #FFFFFF;
    position: absolute;
    padding: 0;
    z-index: 2000;
    width: 100%;
  }
  #home-content #left #block #stories-categories li {
    float: left;
    padding: 15px;
  }
  #home-content #left #block #stories-categories li a {
    color: #000000;
    text-decoration: none;
  }
  #home-content #left #block #stories-categories li a:hover {
    color: #000000;
  }
  #home-content #left #block #stories .news {
    padding-top: 30px;
  }
  #home-content #left #block #stories .news .left {
    padding-right: 25px;
    padding-bottom: 10px;
  }
  #home-content #left #block #stories .news .right .cate {
    color: #2aabd2;
    font-size: 10px;
  }
  #home-content #left #block #stories .news .right .title {
    font-weight: bold;
    font-size: 14px !important;
    padding-top: 3px;
  }
  #home-content #left #block #stories .news .right .title a {
    color: #000000;
    text-decoration: none;
  }
  #home-content #left #block #stories .news .right .title a:hover {
    color: #000000;
  }
  #home-content #left #block #stories .news .right .misc {
    font-size: 9px;
    padding-top: 7px;
  }
  #home-content #left #block #stories .news .right .misc li:first-child span {
    font-weight: bold;
    color: #000000;
  }
  #home-content #left #block #stories .news .right .misc li:last-child li {
    float: right;
    padding-left: 7px;
  }
  #home-content #left #block #stories .news .right .misc li:last-child li span {
    font-weight: bold;
  }
  #home-content #left #block #stories .news .right .desc {
    padding-top: 8px;
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  #home-content #left #head .pull-right {
    display: none;
  }
}

body {
  font-family: arial;
}

.ul-clean {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header-bar {
  font-weight: bold;
  color: #000000;
}

#header-bar #global-lang-block {
  position: relative;
  top: -20px;
  z-index: 1000;
  width: 70px;
}

#header-bar #global-lang-block #global-lang {
  position: absolute;
  width: 70px;
  padding-left: 15px;
}

#header-bar #global-lang-block #global-lang i {
  position: relative;
  z-index: 1000;
}

#header-bar #global-lang-block #global-lang li {
  position: relative;
  top: -4px;
  z-index: 1000;
  background-color: #FFFFFF;
  color: #000000 !important;
  display: none;
}

#header-bar #global-lang-block #global-lang li a {
  font-size: 10px;
  color: #000000 !important;
  text-decoration: none;
}

#header-bar #global-lang-block #global-lang li a:hover {
  color: #000000 !important;
}

#header-bar #global-lang-block #global-lang .lang-active {
  display: inline-block;
}

#header-bar #header-bar-misc li {
  float: right;
  padding-left: 10px;
}

#header-bar .pull-left, #header-bar .pull-right {
  margin-top: 20px;
}

#header-bar .pull-center {
  font-family: 'Helvetica';
  font-size: 35px;
  padding: 10px 0;
}

#header-bar .pull-center a {
  text-decoration: none;
  color: #000000;
}

#header-bar .pull-center a:hover {
  color: #000000;
}

#header-menu {
  position: relative;
  z-index: 10;
  padding-bottom: 12px;
  font-weight: bold;
}

#header-menu .ul-clean li {
  float: left;
}

#header-menu .ul-clean li a {
  padding: 10px 10px;
  text-decoration: none;
  color: #000000;
}

#header-menu .ul-clean li a:hover {
  color: #73a0ff;
}

#search-block {
  padding-bottom: 12px;
  display: none;
}

#search-block input {
  width: 100%;
  padding: 3px 10px;
}

.category_name {
  text-decoration: none;
  color: #2aabd2 !important;
}

.category_name:hover {
  color: #2aabd2 !important;
}

#featured-article {
  padding-top: 20px;
}

#featured-article ul {
  padding: 15px 10px;
  font-weight: bold;
}

#featured-article ul li:first-child {
  padding-bottom: 10px;
}

#featured-article ul li:nth-child(2) {
  color: #2aabd2;
}

#featured-article ul li a {
  text-decoration: none;
  color: #000000;
}

#featured-article ul li a:hover {
  color: #000000;
}

#featured-article ul img {
  width: 100%;
}

#home-content {
  padding-top: 25px;
  font-size: 16px;
}

#home-content #left {
  position: relative;
  padding-right: 30px;
}

#home-content #left #head .stories-active {
  background-color: #000000;
  color: #FFFFFF;
}

#home-content #left #head li {
  padding: 15px 30px;
  color: #8c8c8c;
  cursor: pointer;
}

#home-content #left #head li:last-child {
  padding: 24px 0 0;
}

#home-content #left #block {
  position: relative;
  z-index: 1000;
  border-top: 1px solid #000000;
  padding-bottom: 25px;
}

#home-content #left #block #category-head {
  font-size: 14px;
}

#home-content #left #block #category-head span {
  font-weight: bold;
}

#home-content #left #block #stories-categories {
  background-color: #FFFFFF;
  position: absolute;
  padding: 0;
  z-index: 2000;
  width: 100%;
}

#home-content #left #block #stories-categories li {
  float: left;
  padding: 15px;
}

#home-content #left #block #stories-categories li a {
  color: #000000;
  text-decoration: none;
}

#home-content #left #block #stories-categories li a:hover {
  color: #000000;
}

#home-content #left #block #stories .news {
  padding-top: 30px;
}

#home-content #left #block #stories .news .left {
  padding-right: 25px;
  padding-bottom: 10px;
}

#home-content #left #block #stories .news .right .cate {
  color: #2aabd2;
  font-size: 10px;
}

#home-content #left #block #stories .news .right .title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 3px;
}

#home-content #left #block #stories .news .right .title a {
  color: #000000;
  text-decoration: none;
}

#home-content #left #block #stories .news .right .title a:hover {
  color: #000000;
}

#home-content #left #block #stories .news .right .misc {
  font-size: 9px;
  padding-top: 7px;
}

#home-content #left #block #stories .news .right .misc li:first-child span {
  font-weight: bold;
  color: #000000;
}

#home-content #left #block #stories .news .right .misc li:last-child li {
  float: right;
  padding-left: 7px;
}

#home-content #left #block #stories .news .right .misc li:last-child li span {
  font-weight: bold;
}

#home-content #left #block #stories .news .right .desc {
  padding-top: 8px;
}

.fa-envelope {
  color: #0d6aad;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-weibo {
  color: #df2029;
}

.fa-wechat {
  color: #09b93e;
}

#article-content {
  padding: 20px 0;
}

#article-content #left .title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

#article-content #left .notes {
  font-size: 16px;
  color: grey;
  padding-bottom: 10px;
}

#article-content #left .misc {
  padding-bottom: 6px;
  display: inline-block;
  width: 100%;
}

#article-content #left .misc span {
  font-weight: bold;
}

#article-content #left .share li {
  float: right;
  padding: 0 5px;
}

#article-content #left .desc {
  font-size: 20px;
}

.tag {
  padding: 25px 0;
  display: inline-block;
  width: 100%;
}

.tag ul li {
  float: left;
  padding-right: 15px;
}

.tag ul li a {
  padding: 10px 17px;
  background-color: #D7D7D7;
  color: #000000;
  text-decoration: none;
}

#article-content .source, #article-content .tag, #article-content .social, #article-content .subscription {
  font-size: 14px;
  color: #8aa4af;
}

#article-content #left .desc {
  padding-bottom: 15px;
}

#article-content #left .line {
  width: 60px;
  border-top: 1px solid #000000;
  padding-bottom: 10px;
}

#article-content #left .source {
  color: #8aa4af;
}

#article-content #left .source div:nth-child(1) span {
  color: #2aabd2;
}

#article-content #left .source div:nth-child(2) span {
  font-weight: bold;
  color: #000000;
}

#article-content #left .social .share {
  padding-top: 10px;
}

#article-content #left .social .share li {
  float: left;
}

#article-content #left .social .share li i {
  color: #FFFFFF;
  padding: 10px;
  font-size: 20px;
}

#article-content #left .social .share li .fa-envelope {
  background-color: #0d6aad;
}

#article-content #left .social .share li .fa-facebook-f {
  background-color: #3b5998;
  padding: 10px 15px;
}

#article-content #left .social .share li .fa-twitter {
  background-color: #00aced;
}

#article-content #left .social .share li .fa-weibo {
  background-color: #df2029;
}

#article-content #left .social .share li .fa-wechat {
  background-color: #09b93e;
}

#article-content #left .social .share li:last-child {
  position: relative;
  top: 10px;
}

#article-content #left .subscription .input-group {
  padding-top: 15px;
}

#article-content #left .subscription input[type="text"] {
  height: 36px;
}

#article-content #left .subscription input[type="button"] {
  height: 36px;
  background-color: #00aced;
}

#article-content #right {
  padding: 0 15px;
}

#article-content #right .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #EEEEEE;
  display: inline-block;
  width: 100%;
}

#article-content #right .header .news {
  font-size: 22px;
}

#article-content #right .header .recent {
  color: #8aa4af;
  position: relative;
  bottom: -7px;
}

#article-content #right .popular-news-block {
  padding: 10px 0;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}

#article-content #right .popular-news-block .right {
  padding-left: 10px;
}

#article-content #right .popular-news-block .right .ul-clean li:nth-child(1) {
  color: #2aabd2;
  font-size: 10px;
}

#article-content #right .popular-news-block .right .ul-clean li:nth-child(1) a {
  color: #2aabd2;
  text-decoration: none;
}

#article-content #right .popular-news-block .right .ul-clean li:nth-child(1) a:hover {
  color: #2aabd2;
}

#article-content #right .popular-news-block .right .ul-clean li:nth-child(2) {
  font-weight: bold;
}

#article-content #right .popular-news-block .right .ul-clean li:nth-child(2) a {
  color: #000000;
  text-decoration: none;
}

#article-content #right .popular-news-block .right .ul-clean li:nth-child(2) a:hover {
  color: #000000;
}

/*# sourceMappingURL=web.css.map */
