body {
  font-family: arial;
}

.ul-clean {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header-bar {
  font-weight: bold;

  #header-bar-misc {
    li {
      float: right;
      padding-left: 10px;
    }
  }

  .pull-left, .pull-right {
    margin-top: 20px;
  }

  .pull-center {
    font-family: 'Helvetica';
    font-size: 35px;
    padding: 10px 0;
  }
}

#header-menu {
  padding-bottom: 12px;
  font-weight: bold;
  .ul-clean {
    li {
      float: left;
      a {
        padding: 10px 10px;
        text-decoration: none;
        color: #000000;
        &:hover {
          color: #73a0ff;
        }
      }
    }
  }
}

#featured-article {
  padding-top: 20px;
  ul {
    padding: 15px 10px;
    font-weight: bold;

    li {
      &:first-child {
        padding-bottom: 10px;
      }
      &:nth-child(2) {
        color: #2aabd2;;
      }
    }
    img {
      width: 100%
    }
  }
}

#home-content {
  padding-top: 25px;
  font-size: 16px;
  #left {

    position: relative;
    padding-right: 30px;

    #head {

      .stories-active {
        background-color: #000000;
        color: #FFFFFF;
      }
      li {
        padding: 15px 30px;
        color: #8c8c8c;
        cursor: pointer;

        &:last-child {
          padding: 24px 0 0;
        }
      }


    }

    #block {

      position: relative;
      z-index: 1000;
      border-top: 1px solid #000000;
      padding-bottom: 25px;

      #stories-categories {
        background-color: #FFFFFF;
        position: absolute;
        padding: 0;
        z-index: 2000;
        width: 100%;
        //top: 50px;

        li {
          float: left;
          padding: 15px;

          a {
            color: #000000;
            text-decoration: none;
            &:hover {
              color: #000000;
            }
          }
        }

      }

      #stories {
        .news {
          padding-top: 30px;

          .left {
            padding-right: 25px;
            padding-bottom: 10px;
          }

          .right {
            .cate {
              color: #2aabd2;
              font-size: 10px;
            }
            .title {
              font-weight: bold;
              font-size: 18px;
              padding-top: 3px;
            }
            .misc {
              font-size: 9px;
              padding-top: 7px;
              li {
                &:first-child {
                  //color: #8c8c8c;
                  span {
                    font-weight: bold;
                    color: #000000;
                  }
                }
                &:last-child {
                  li {
                    float:right;
                    padding-left: 7px;
                    span {
                      font-weight: bold;
                    }
                  }
                }
              }
            }
            .desc {
              padding-top: 8px;
            }
          }
        }
      }

    }
  }
}

.fa-envelope {
  color: #0d6aad;
}

.fa-facebook-f {
  color: #3b5998
}

.fa-twitter {
  color: #00aced;
}

.fa-weibo {
  color: #df2029;
}

.fa-wechat {
  color: #09b93e;
}