@font-face {
  font-family: LinBiolinum_R;
  src: url("../css/LinBiolinum_R.otf") format("opentype");
}

@media only screen and (max-width: 460px) {

  .head-dropdown-menu {
    display: block !important;
  }

  .navbar-custom-logo {
    position: absolute; top: 2px; width: 100%; text-align: center;
    //z-index: 17;
  }

  #header-bar {
    display: none;
    .pull-center {
      font-size: 24px !important;
      float: none;
      text-align: left !important;
    }

    #global-lang-block {
      float: right !important;
      //position: absolute !important;
      //right: 0px !important;
    }

    .pull-right {
      display: none;
    }
  }

  #header-menu {
    display: none;
  }


  #carousel-main-banner {
    margin: 50px -15px 0 -15px;
  }

  #article-single-img {
    margin: 50px -15px 0 -15px;
    img {
      width: 100%;
    }
  }

  #featured-article {
    padding-top: 0 !important;
    margin: 0 -15px;
  }

  .homepage-content {
    padding-top: 10px;
  }

  #home-content {
    //padding-top: 60px !important;
    font-size: 16px;
    #left {

      position: relative;
      padding-right: 30px;

      #head {

        .stories-active {
          background-color: #000000;
          color: #FFFFFF;
        }
        li {
          padding: 8px 10px !important;
          color: #8c8c8c;
          cursor: pointer;
          font-size: 10px !important;

          &:last-child {
            padding: 24px 0 0;
          }
        }


      }

      #block {

        position: relative;
        z-index: 1000;
        border-top: 1px solid #000000;
        padding-bottom: 25px;


        #category-head {
          padding-top: 60px;
          font-size: 14px;
          span {
            font-weight: bold;
          }
        }

        #stories-categories {
          background-color: #FFFFFF;
          position: absolute;
          padding: 0;
          z-index: 2000;
          width: 100%;
          //top: 50px;

          li {
            float: left;
            padding: 15px;

            a {
              color: #000000;
              text-decoration: none;
              &:hover {
                color: #000000;
              }
            }
          }

        }

        #stories {
          .news {
            padding-top: 30px;

            .left {
              padding-right: 25px;
              padding-bottom: 10px;
            }

            .right {
              .cate {
                color: #2aabd2;
                font-size: 10px;
              }
              .title {
                font-weight: bold;
                font-size: 14px !important;
                padding-top: 3px;

                a {
                  color: #000000;
                  &:hover {
                    color: #000000;
                  }
                  text-decoration: none;
                }
              }
              .misc {
                font-size: 9px;
                padding-top: 7px;
                li {
                  &:first-child {
                    //color: #8c8c8c;
                    span {
                      font-weight: bold;
                      color: #000000;
                    }
                  }
                  &:last-child {
                    li {
                      float:right;
                      padding-left: 7px;
                      span {
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
              .desc {
                padding-top: 8px;
                display:none;
              }
            }
          }
        }

      }
    }

  }

  .auction-company {
    .auction-menu {
      padding-top: 10px !important;
    }
    .swiper-slide {
      .row {
        .detail {
          padding-right: 0 !important;
        }
      }
    }
  }

  .auction-detail {
    .pre-auction-block {
      padding-top: 70px !important;
    }

    .series {

      .lot:nth-of-type(odd) {
        font-size: 20px;
      }

    }
  }

  .lot-block {
    height: 300px !important;
    .lot-title {
      font-size: 12px !important;
      span {
        font-size: 12px !important;
      }
    }
    .lot-value {
      font-size: 12px !important;
      padding: 0 !important;
      //position: relative;
      //top: 0;
    }
  }

  .lot-side {
    height: 300px !important;
    .lot-title {
      font-size: 12px !important;
      span {
        font-size: 12px !important;
      }
    }
    .lot-value {
      font-size: 12px !important;
      padding: 0 !important;
      //position: relative;
      //top: 0;
    }
  }

  .item-detail-lot {
    padding: 10px 0 0 !important;
  }

  .item-head {
    .item-head-right {
      padding-left: 0px !important;
    }
  }

  .item-body {
    .item-detail {
      padding: 0 10px !important;
      .lot-stitle {
        font-size: 22px;
      }
      .lot-desc {
        padding: 15px 0 !important;
        font-size: 22px !important;
      }
      .lot-estimate {
        font-size: 22px !important;
      }
    }

    .item-image {
      .enlarge {
        padding-top: 5px !important;
      }
    }
  }

}

@media only screen and (max-width: 560px) {
  #home-content {
    #left {
      #head {
        .pull-right {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  #home-content {
    #left {
      padding-right: 0px !important;
      #block {
        #stories {
          .news {
            .left {

              padding-right: 0px !important;

            }
          }
        }
      }
    }
  }
}

body {
  font-family: arial;
}

.ul-clean {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header-bar {
  font-weight: bold;
  color: #000000;

  #global-lang-block {
    position: relative;
    top: -20px;
    z-index: 1000;
    width: 70px;

    #global-lang {
      //padding-top: 10px;
      position: absolute;
      width:70px;
      padding-left: 15px;
      i {
        position: relative;
        z-index: 1000;
      }
      li {
        //float:none;
        position: relative;
        top: -4px;
        z-index: 1000;
        background-color: #FFFFFF;
        color: #000000 !important;
        display: none;

        a {
          font-size: 10px;
          color: #000000 !important;
          text-decoration: none;
          &:hover {
            color: #000000 !important;
          }
        }
      }
      .lang-active {
        display: inline-block;
      }
    }
  }

  #header-bar-misc {
    li {
      float: right;
      padding-left: 10px;
      font-size: 10px;
      font-weight: 100;

      a {
        color: #8c8c8c;
        text-decoration: none;
        &hover {
          color: #8c8c8c;
        }
      }
    }
  }

  .pull-left, .pull-right {
    margin-top: 20px;
  }

  .pull-center {
    font-family: 'LinBiolinum_R';
    font-size: 35px;
    padding: 10px 0;
    a {
      text-decoration: none;
      color: #000000;
      &:hover {
        color: #000000;
      }
    }

  }
}

#header-menu {
  position: relative;
  z-index: 10;
  padding-bottom: 12px;
  font-weight: bold;
  .ul-clean {
    li {
      float: left;
      a {
        padding: 10px 10px;
        text-decoration: none;
        color: #000000;
        &:hover {
          color: #73a0ff;
        }
      }
    }
  }
}

#search-block {
  padding-bottom: 12px;
  input {
    width: 100%;
    padding: 3px 10px;
  }
  display: none;
}

.top-hr {
  margin: 0 0 10px;
  padding: 0;
}

.category_name {

    text-decoration: none;
    color: #2aabd2 !important;
    &:hover {
      color: #2aabd2 !important;
    }

}

#featured-article {
  padding-top: 20px;
  ul {
    padding: 15px 10px;
    font-weight: bold;

    li {
      &:first-child {
        padding-bottom: 10px;
      }
      &:nth-child(2) {
        color: #2aabd2;
      }
      a {
        text-decoration: none;
        color: #000000;
        &:hover {
          color: #000000;
        }
      }

    }
    img {
      width: 100%
    }
  }
}

#home-content {
  //padding-top: 25px;
  font-size: 16px;
  #left {

    position: relative;
    padding-right: 15px;

    #head {

      .stories-active {
        background-color: #000000;
        color: #FFFFFF;
      }
      li {
        padding: 15px 30px;
        color: #8c8c8c;
        cursor: pointer;

        &:last-child {
          padding: 24px 0 0;
        }
      }


    }

    #block {

      position: relative;
      z-index: 1000;
      border-top: 1px solid #000000;
      padding-bottom: 25px;

      #category-head {
        font-size: 14px;
        span {
          font-weight: bold;
        }
      }

      #stories-categories {
        background-color: #FFFFFF;
        position: absolute;
        padding: 0;
        z-index: 2000;
        width: 100%;
        //top: 50px;

        li {
          float: left;
          padding: 15px;

          a {
            color: #000000;
            text-decoration: none;
            &:hover {
              color: #000000;
            }
          }
        }

      }

      #stories {
        .news {
          //padding-top: 30px;

          &:nth-child(1) {
            padding-top: 10px;
          }

          .left {
            padding-right: 25px;
            padding-bottom: 10px;


          }

          .right {
            .cate {
              color: #2aabd2;
              font-size: 12px;
            }
            .title {
              font-weight: bold;
              font-size: 20px;
              padding-top: 3px;

              a {
                color: #000000;
                &:hover {
                  color: #000000;
                }
                text-decoration: none;
              }
            }
            .misc {
              font-size: 9px;
              padding-top: 7px;
              li {
                &:first-child {
                  //color: #8c8c8c;
                  span {
                    font-weight: bold;
                    color: #000000;
                  }
                }
                &:last-child {
                  li {
                    float:right;
                    padding-left: 7px;
                    span {
                      font-weight: bold;
                    }
                  }
                }
              }
            }
            .desc {
              padding-top: 8px;
            }
          }
        }
      }

    }
  }
}

.fa-envelope {
  color: #0d6aad;
}

.fa-facebook-f {
  color: #3b5998
}

.fa-twitter {
  color: #00aced;
}

.fa-weibo {
  color: #df2029;
}

.fa-wechat {
  color: #09b93e;
}

#article-content {
  padding: 20px 0 ;
  #left {
    .title {
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .notes {
      font-size: 16px;
      color: grey;
      padding-bottom: 10px;
    }
    .misc {
      span {
        font-weight: bold;
      }
      padding-bottom: 6px;
      display: inline-block;
      width: 100%;
    }
    .share {
      li {
        float:right;
        padding: 0 5px;
      }
    }
    .desc {
      font-size: 20px;
    }
  }
}

.tag {
  padding: 25px 0;
  display: inline-block;
  width: 100%;
  ul {
    li {
      float: left;
      padding-right: 15px;
      height: 50px;
      a {
        padding: 10px 17px;
        background-color: #D7D7D7;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

#article-content {
  .source, .tag, .social, .subscription {
    font-size: 14px;
    color: #8aa4af;
  }
  //padding: 0 10px;
  #left {
    .desc {
      padding-bottom: 15px;
    }
    .line {
      width: 60px;
      border-top: 1px solid #000000;
      padding-bottom: 10px;
    }
    .source {
      color: #8aa4af;
      div {
        &:nth-child(1) {
          span {
            color: #2aabd2;
          }
        }
        &:nth-child(2) {
          span {
            font-weight: bold;
            color: #000000;
          }
        }
      }
    }
    .social {
      .share {
        padding-top: 10px;
        li {
          float: left;
          i {
            color: #FFFFFF;
            padding: 10px;
            font-size: 20px;
            //width: 20px;
          }
          .fa-envelope {
            background-color: #0d6aad;
          }

          .fa-facebook-f {
            background-color: #3b5998;
            padding: 10px 15px;
          }

          .fa-twitter {
            background-color: #00aced;
          }

          .fa-weibo {
            background-color: #df2029;
          }

          .fa-wechat {
            background-color: #09b93e;
          }

          &:last-child {
            position: relative;
            top: 10px;
          }
        }
      }
    }
    .subscription {
      .input-group {
        padding-top: 15px;
      }
      input[type="text"] {
        height: 36px;
      }
      input[type="button"] {
        height: 36px;
        background-color: #00aced;
      }
    }

  }
  #right {
    padding: 0 15px;

    .header {
      .news {
        font-size: 22px;
      }
      .recent {
        color: #8aa4af;
        position: relative;
        bottom: -7px;
      }
      padding-bottom: 5px;
      border-bottom: 1px solid #EEEEEE;
      display: inline-block;
      width: 100%
    }

    .popular-news-block {
      padding: 10px 0;
      display: inline-block;
      border-bottom: 1px solid #EEEEEE;

      .right {
        padding-left: 10px;
        .ul-clean {
          li {
            &:nth-child(1) {
              color: #2aabd2;
              font-size: 10px;
               a {
                 color: #2aabd2;
                 text-decoration: none;
                 &:hover {
                   color: #2aabd2;
                 }
               }
            }
            &:nth-child(2) {
              font-weight: bold;
              a {
                color: #000000;
                text-decoration: none;
                &:hover {
                  color: #000000;
                }
              }
            }
          }
        }
      }
    }
  }
}

.fa-envelope {
  cursor: pointer;
}

#static-page {
  #static-page-title {
    padding: 15px 0 5px;
    font-weight: bold;
    font-size: 20px;
  }
  #static-page-cotnent {

  }
}

.head-dropdown-menu {

  display: none;
  background-color: #fafafa;

  .navbar-brand {

    font-family: 'LinBiolinum_R';
    color: #000000 !important;
    font-size: 28px;

  }

  .navbar-nav {

    li {
      a {
        color: #000000 !important;
      }
    }

  }

}

.auction-company {
  .title {
    padding: 0 !important;
  }
}

.auction {

  .logo {
    padding-top: 70px;
    text-align: center;

    img {
      height: 140px;
    }

    .name {
      text-align: center;
      font-size: 22px;
      padding-top: 5px;
      font-weight: bold;
    }

  }

  .auction-menu {
    padding-top: 50px;
    font-size: 14px;
    span {
      font-weight: bold;
    }

    ul {
      list-style-type: none;
      margin: 0 -15px;
      padding: 0;
      li {
        a {
          float: left;
          width: 50%;
          padding: 5px 0;
          text-align: center;
          text-decoration: none;
          color: #000000;
          //font-weight: bold;
          font-size: 17px;
        }

        .active {
          background-color: #0c0c0c;
          color: #FFFFFF;
        }



      }
    }

  }

  .pre-auction-block {

    position: relative;
    padding: 10px 0 0 !important;

    .swiper-wrapper {
      padding-bottom: 20px;
    }

    .store-name {
      font-size: 20px;
      font-weight: bold;
      img {
        height: 30px;
        padding-right: 10px;
      }
      span {
        position: relative;
        top: 2px;
      }
    }

    .more {
      a {

        position: absolute;
        right: 0px;
        top: 10px;
        border: 1px solid #000000;
        padding: 4px 12px 2px 15px;
        font-size: 13px;
        color: #000000;
        text-decoration: none;

      }
    }

    .series {
      .title {
        padding: 10px 0 0;
        color: #8c8c8c;
      }
      .datetime {
        color: #8c8c8c;
      }
      .detail {
        .cell-name {
          //padding: 20px 0 0;
          font-weight: bold;
        }
        .misc {

          span {
            color: #8c8c8c;
          }
          .date-counter {
            //width: 100%;
            //text-align: center;
          }

          .btn-browse {
            font-size: 12px;
            margin: 5px 0 0 0;
            padding: 5px 12px 2px;
            float: right;
          }
        }
      }
    }

  }


}

.auction-company {

  .pre-auction-block {

    position: relative;
    padding: 0 !important;

    .swiper-wrapper {
      padding-bottom: 0;
    }

    .swiper-slide {
      //padding: 10px 0;

      .row {
        padding: 10px 0;
        //padding-right: 15px;
        position: relative;

        .detail {
          padding-right: 15px;
        }

        .bottom {
          position: absolute;
          bottom: 0;
          right: 0;
        }

      }

    }

    .selection {

      margin: 0 -15px;

      .input-group-addon {

        border: 0;

      }

      .form-control {

        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #EEEEEE;
        border-radius: 0;
        text-align: center;

      }

    }

    .a-detail {
      margin: 0 -15px;
      padding: 6px 12px;

      .title {
        font-size: 19px;
        color: #337ab7;
      }

      .ele {
        font-size: 15px;
        color: #8c8c8c;
      }
    }

    .detail {

      padding-left: 10px;

      .sepline {
        width: 34px;
        border-top: 2px solid #000000;
        height: 8px;
      }

      .misc {

        font-size: 13px;
        //color: #8c8c8c;

        .cell-name {
          font-size: 17px;
        }

      }
    }

  }


}

.auction-detail {

  .pre-auction-block {
    padding-top: 20px !important;
  }

  .more {
    a {
      top: 20px !important;
    }
  }

  .series {
    .title {
      color: #000000 !important;
      padding-bottom: 10px !important;
      font-weight: bold !important;
      font-size: 18px !important;
    }
    .selection {
      padding-bottom: 10px !important;
    }
    .misc {
      font-size: 13px;
      color: #8c8c8c;
      padding-bottom: 10px;
      .cell-name {
        color: #000000 !important;
        padding-bottom: 10px !important;
        font-weight: bold !important;
        font-size: 18px !important;
      }
    }
    .lot {
      //margin: 10px;
      padding: 5px;
      text-align: center;

      img {
        margin: 0 auto;
      }

      .lot-block {
        position: relative;
        //border: 2px groove #8c8c8c;
        border-top: 0;
        border-left: 0;
        //border-radius: 5px;
        padding: 10px;
        height: 400px;
        cursor: pointer;
        img {
          //border: 5px groove #8c8c8c;
        }
        .lot-detail {
          text-align: left;
          padding: 8px 0 0;
          font-size: 12px;
          color: #8c8c8c;
          .lot-title {
            font-size: 14px;
            color: #000000;
            font-weight: bold;
            span {
              font-size: 18px;
              color: #9f191f;
            }
          }
          .lot-value {
            //position: absolute;
            //bottom: 0;
            padding: 10px 0px 0px;
            font-size: 14px;
            color: #2c2c2c;
          }
        }
      }

      .lot-side {
        position: relative;
        padding: 5px;
        //height: 400px;
        cursor: pointer;
        display: inline-block;
        img {
          //border: 5px groove #8c8c8c;
        }
        .lot-detail {
          text-align: left;
          padding: 0 0 0 10px;
          font-size: 12px;
          color: #8c8c8c;
          .lot-title {
            font-size: 12px;
            color: #000000;
            font-weight: bold;
            span {
              font-size: 12px;
              color: #9f191f;
            }
          }
          .lot-value {
            //position: absolute;
            //bottom: 0;
            padding: 10px 0px 0px;
            font-size: 12px;
            color: #2c2c2c;
          }
        }
      }
    }
  }

  .date-counter {
    float: left;
    padding-left: 15px;
  }

  #block {
    padding-bottom: 0px !important;
  }

  .item-head {
    padding-bottom: 10px;
    border-bottom: 2px groove #8c8c8c;
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    .item-head-right {
      padding-left: 20px;
    }
  }

  .item-body {
    //border-right: 2px groove #8c8c8c;
    .item-detail {
      padding: 0 20px 0 20px;
      .lot-number {
        color: #9f191f;
        font-weight: bold;
        font-size: 24px;
      }
      .lot-title {
        font-weight: bold;
        font-size: 24px;
      }
      .lot-stitle {
        //font-weight: bold;
        font-size: 18px;
      }
      .lot-desc {
        padding: 30px 0;
        font-size: 20px;
      }
      .lot-estimate {
        font-weight: bold;
        font-size: 20px;
      }
    }

    .item-image {
      text-align: center;
      img {
        cursor: pointer;
      }
      .enlarge {
        padding-top: 15px;
        cursor: pointer;
      }
    }
  }

  .sale-side {
    margin: 0 30px;

    .sale-side-block {
      //border: 5px groove #8c8c8c;
      padding: 10px;
      display: inline-block;
      cursor: pointer;
    }

  }

  .misc-block {
    padding-top: 20px;
  }

}


.disclaimer {

  ol {
    margin: 30px 0 15px 18px;
    padding: 0;
    font-size: 18px;
  }

  .number_list {
    padding: 0 0 20px 56px;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    //font-weight: bold;
  }

}


#footer {
  padding: 20px 0 0;
}

@media only screen and (max-width: 460px) {
  .auction-detail {
    .pre-auction-block {
      padding-top: 10px !important;
      .more {
        a {
          top: 10px !important;
        }
      }
    }
  }
}

.auction-menu {
  padding-top: 10px;
  font-size: 14px;
  span {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin: 0 -15px;
    padding: 0;
    li {
      a {
        float: left;
        width: 50%;
        padding: 5px 0;
        text-align: center;
        text-decoration: none;
        color: #000000;
        //font-weight: bold;
        font-size: 17px;
      }

      .active {
        background-color: #0c0c0c;
        color: #FFFFFF;
      }

      .tab-1, .tab-2, .tab-3 {
        border: 1px solid #000000;
      }

      .tab-1, .tab-3 {
        width:33% !important;
      }

      .tab-2 {
        border-left: 0;
        border-right: 0;
        width: 34% !important;
      }
    }
  }

}





.auction-custom-menu {
  padding-top: 0 !important;
  //border: 1px solid #000000 !important;
}

@media only screen and (max-width: 460px) {
  .auction-custom-menu {
    padding-top: 50px !important;
  }
}

.item-detail-pagination {
  .active {
    span {
      color: #6a6a6a !important;
      border: 0 solid #FFFFFF !important;
      background-color: #FFFFFF!important;
      font-weight: bold;
    }
  }
  li {
    color: #8c8c8c;
    span {
      color: #6a6a6a !important;
      border: 0 solid #FFFFFF !important;
      background-color: #FFFFFF!important;
      //font-weight: bold;
    }
    a {
      color: #8c8c8c;
      border: 0;
    }
  }
}

#stories-loading-spinner {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  border: 4px double #8c8c8c;
  color: #8c8c8c;
  cursor: pointer;
}